<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=11" />
    <meta
      type="keywords"
      content="smartCASA,Albuquerque,Police,DOJ,Justice,ACLU,Court,CASA,Approved,Settlement,Consent,Decree,Independent,Monitor"
    />
    <meta
      name="Description"
      content="smartCASA is an interactive web application for exploring the Albuquerque Police Department Court Approved Settlement Agreement Compliance"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-135893593-1"
    ></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
    <script src="https://unpkg.com/unfetch/polyfill"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.2.20171210/classList.min.js"></script>
    <link rel="preconnect" href="https://api.smartcasa.org" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-135893593-1');
    </script>

    <title>smartCASA</title>
  </head>
  <body>
    <div class="navigation">
      <div class="logo">
        <img src="<%= require('../static/logo.svg') %>" alt="smart casa logo" />
      </div>
      <a href="/" class="navigation__title" aria-label="link to page">
        smartCASA
      </a>
      <div class="right-nav">
        <div class="search-results search-results--hidden"></div>

        <div class="search-icon"></div>
        <input
          type="text"
          name="search"
          id="search"
          class="topic-search"
          aria-label="term search filter"
          placeholder="type here to filter paragraph list"
          disabled
        />
        <div class="paragraph-select">
          <div class="mobile-select"></div>
          <span class="selected-paragraph">
            <span class="search-result"></span>
            <span class="select-label">Select a paragraph</span>
            <div aria-hidden="true" class="select-chevron"></div>
          </span>
          <ul class="paragraph-list"></ul>
        </div>
      </div>
    </div>
    <section class="container">
      <div class="container__paragraph">
        <div class="paragraph">
          <div class="paragraph__nav">
            <button
              class="js-previous-paragraph paragraph-btn-previous paragraph-btn"
            >
              <span>Previous</span>
            </button>
            <button class="js-next-paragraph paragraph-btn-next paragraph-btn">
              <span>Next</span>
            </button>
          </div>
          <h1 class="js-paragraph__title paragraph__title"></h1>
          <div class="js-paragraph__body paragraph__body"></div>

          <div class="js-paragraph-help help">?</div>

          <button class="js-copy-btn copy-btn" aria-labelledby="copy-btn-label">
            <span id="copy-btn-label" hidden>Copy paragraph to clipboard</span>
          </button>
        </div>
      </div>
      <div class="container__compliance">
        <div class="no-compliance no-compliance--hidden">
          <h3>Paragraph is not monitored</h3>
        </div>
        <div class="compliance">
          <div class="compliance__title">
            <h3>
              Compliance Score History for Paragraph
              <span class="title-paragraph-number"></span>
            </h3>
            <h4 class="compliance-dates"></h4>
          </div>

          <div class="compliance__chart">
            <svg><g></g></svg>
            <svg class="legend" height="100px">
              <g>
                <rect
                  class="legend-item green"
                  width="20px"
                  height="20px"
                  x="0"
                  y="0"
                ></rect>
                <text x="22" y="16">Compliance</text>
                <rect
                  class="legend-item blue"
                  width="20px"
                  height="20px"
                  x="0"
                  y="30"
                ></rect>
                <text x="22" y="46">Not Yet Due/Not Measured</text>
                <rect
                  class="legend-item red"
                  width="20px"
                  height="20px"
                  x="0"
                  y="60"
                ></rect>
                <text x="22" y="76">Non-Compliance</text>
              </g>
            </svg>
          </div>
          <div class="compliance__detail">
            <a class="report-title"></a>
            <div class="compliance-summary">
              <h4
                class="js-compliance-summary__title compliance-summary__title"
              >
                Compliance Summary:
              </h4>
              <div class="js-compliance-summary__value"></div>
            </div>

            <div class="report-data"></div>

            <div class="report-pages"></div>
            <h3>Independent Monitor Compliance Table</h3>
            <ul class="compliance-list">
              <li class="compliance-list__item">
                <div class="js-primary-compliance"></div>
              </li>
              <li class="compliance-list__item">
                <div class="js-secondary-compliance"></div>
              </li>
              <li class="compliance-list__item">
                <div class="js-operational-compliance"></div>
              </li>
            </ul>
          </div>
          <table class="compliance-table">
            <thead>
              <tr>
                <th>IMR</th>
                <th>Pages</th>
                <th>Primary Compliance</th>
                <th>Secondary Compliance</th>
                <th>Operational Compliance</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="chart-tooltip"></div>
      <div class="js-modal modal">
        <div class="js-modal__body modal__body">
          <h2 class="modal-title">Welcome to smartCASA</h2>
          <p>
            smartCASA is an interactive web application for exploring the City
            of Albuquerque's progress towards meeting the requirements of the
            Department of Justice's
            <a
              href="https://www.cabq.gov/police/documents/first-amended-restates-cour-approved-settlement-agreement.pdf"
              target="_blank"
              rel="noopener"
              aria-label="CASA PDF"
              >Court Approved Settlement Agreement</a
            >
            (CASA). This application breaks down the CASA into it constituent
            paragraphs for easy comparison against monitoring reports by the
            <a
              href="https://www.abqmonitor.org/about"
              target="_blank"
              rel="noopener"
              aria-label="Independent Monitoring Team website"
              >Independent Monitoring Team</a
            >.<br /><br />Click continue to start browsing.
          </p>
          <div class="js-modal-continue-btn modal-continue-btn">Continue</div>
        </div>
        <div class="js-modal__background modal__background"></div>
      </div>
    </section>
    <div class="js-term-hint term-hint term-hint--hidden">
      <div class="js-term-hint__body term-hint__body"></div>
      <div class="js-term-hint__close term-hint__close">x</div>
    </div>
    <footer class="footer">
      <span>
        Built by
        <a
          href="https://www.apdforward.org/"
          target="_blank"
          rel="noopener"
          aria-label="APD Forward homepage"
          >APD Forward</a
        >
      </span>
      <span class="version">
        <a
          href="https://github.com/apdforward/smartCASA/releases/tag/v<%= htmlWebpackPlugin.options.version %>"
          target="_blank"
          rel="noopener"
          aria-label="github version tag"
        >
          version <%= htmlWebpackPlugin.options.version %>
        </a>
      </span>
      <div class="footer-right">
        <div class="about js-about-btn">About</div>
        <a
          href="https://github.com/apdforward/smartcasa"
          target="_blank"
          rel="noopener"
          class="github-link"
          aria-label="smartCASA github page"
        >
        </a>
      </div>
    </footer>
    <div class="snack snack--hidden">Paragraph copied to clipboard</div>
    <script
      src="https://browser.sentry-cdn.com/4.6.4/bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: '<%= htmlWebpackPlugin.options.sentryDns %>'
      });
    </script>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>
